* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SCSS RGB
$ultra-violet: rgba(100, 82, 123, 1);
$asparagus: rgba(99, 161, 43, 1);
$asparagus-2: rgba(123, 168, 69, 1);
$straw: rgba(199, 213, 132, 1);
$maize: rgba(246, 237, 103, 1); */

.componente {
  background-color: rgba(246, 237, 103, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formulario {
  background-color: rgba(123, 168, 69, 1);
  padding: 40px;
  border: 5px solid black;
  border-radius: 20%;
  text-align: center;
  width: 30%;
}
