* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SCSS RGB
$ultra-violet: rgba(100, 82, 123, 1);
$asparagus: rgba(99, 161, 43, 1);
$asparagus-2: rgba(123, 168, 69, 1);
$straw: rgba(199, 213, 132, 1);
$maize: rgba(246, 237, 103, 1); */

.componente {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/fondoNav.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.formulario {
  margin-top: 50px;
  width: 50%;
  height: 700px;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
}
label {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: 900;
}
input[type="text"] {
  width: 50%;
  height: 50px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  padding-left: 10px;
}
input[type="email"] {
  width: 50%;
  height: 50px;
  border-radius: 10px;
  margin-top: px;
  margin-bottom: 10px;
  font-size: 20px;
  padding-left: 10px;
}
textarea {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  padding-left: 10px;
  color: rgba(100, 82, 123, 1);
  font-weight: bold;
  border: none;
  cursor: pointer;
}
button {
  width: 50%;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  padding-left: 10px;
  color: rgba(100, 82, 123, 1);
  border: none;
  cursor: pointer;
  background-color: rgba(246, 237, 103, 1);
}
button:hover {
  background-color: rgba(246, 237, 103, 1);
  color: rgba(100, 82, 123, 1);
  font-weight: 900;
}
input:hover {
  background-color: rgba(246, 237, 103, 1);
  color: rgba(100, 82, 123, 1);
  font-weight: 900;
}
textarea:hover {
  background-color: rgba(246, 237, 103, 1);
  color: rgba(100, 82, 123, 1);
  font-weight: 900;
}

select {
  width: 50%;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  padding-left: 10px;
  color: rgba(100, 82, 123, 1);
  font-weight: bold;
  border: none;
  cursor: pointer;
}
select:focus {
  outline: none;
  background-color: rgba(246, 237, 103, 1);
}
.componente h1 {
  margin-top: 250px;
  color: rgba(100, 82, 123, 1);
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
  background-color: rgba(246, 237, 103, 0.4);
  border-radius: 10px;
}
